html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
  border: none;
}
ul, ul li {
	list-style: none;
  margin: 0;
  padding: 0;
}
a, a:link, a:visited  {
  text-decoration: none;
}
a:hover  {
  text-decoration: none;
}
body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  color: var(--grey-color);
  background-color: #fff;
}
.conteiner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  width: 180px;
  height: 50px;
  padding: 10px 20px;
  align-items: center;

  color: var(--white-color);
  line-height: 25px;
  font-size: 20px;

  border-radius: 4px;
  border: 1px solid #01996D;
  background: #01996D;
}
:root{
  --background-color: #245852;;
  --accent-color: #01996D;;
  --grey-color:#424242;;
  --white-color:#fff;
}
.text-h2{
  font-family: 'PT Serif', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  color: var(--accent-color);
}
.text-h3{
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
}
.text-p{
  font-size: 20px;
  line-height: 150%;
}

.menu {
  padding: 27px 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-bottom:1px solid #D6D6D6;
}
.menu__grid {
  margin: 0 15px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 80px 666px 280px;
}
.menu-logo {
  margin-top: 10px;
}
.menu__list {
  display: flex;
  align-items: center
}
.menu__list-item {
  margin-right: 68px;
}
.button-conteiner {
  display: flex;
  align-items: center;
  gap: 35px;
}
.button-menu{
  padding-bottom: 5px;
}

.head {
  min-height: 895px;
  background-image: linear-gradient(to left, rgba(89,106,114, 0.0)60%, rgba(255, 255, 255, 0.9)), url(../img/background-menu.jpeg);
  background-position: left 200px top 65%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  
}
.conteiner-head{
  padding:0 15px;
}

.h1 {
  max-width: 440px;
  padding-top: 160px;
  margin-bottom: 25px;
  color: var(--accent-color);
  font-family: 'PT Serif', serif;
  line-height: 78px;
  word-spacing: 4px;
  letter-spacing: 2px;
  font-size: 65px;
  font-weight: 700;
}
.p-head {
  max-width: 420px;
  margin-bottom: 52px;
}

.head-button{
  width: 227px;
  height: 65px;
}

.steps {
  padding: 190px 0 100px;
}
.steps p {
  padding-top: 25px;
  max-width: 650px;
}
.conteiner-steps{
  padding: 0 15px;
}
.h2-steps {
  max-width: 584px;
  word-spacing: -8px;
  letter-spacing: 3px;
  position: relative;
}
.h2-steps::before{
  content: "How it works";
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: var(--grey-color);
  font-weight: 600;
  line-height: 157%; 
  word-spacing: 0.5px;
  letter-spacing: 0.5px;

  position: absolute;
  top: -32px;
  left: 0px;
}

.steps__flex {
  display: flex;
  justify-content: space-between;
}

.card {
  padding-top: 90px;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.card__grid-item {
  padding-left: 15px;
  
}

.h3-card1{
  text-align: center;
  padding-bottom: 55px;
  padding-right: 60px;
  position: relative;
}
.h3-card2{
  padding-bottom: 50px;
  padding-top: 290px;
  position: relative;
}
.h3-card3{
  padding-bottom: 40px;
  padding-top: 60px;
  position: relative;
}
.h3-card1::before{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '01';
  color: rgba(1, 153, 109, 0.20);
  font-size: 150px;
  font-weight: 400;
  line-height: 150%; 
}
.h3-card2::before{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '02';
  color: rgba(1, 153, 109, 0.20);
  font-size: 150px;
  font-weight: 400;
  line-height: 150%;
}
.h3-card3::before{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '03';
  color: rgba(1, 153, 109, 0.20);
  font-size: 150px;
  font-weight: 400;
  line-height: 150%;
}
.p-card{
  width: 382px;
}
.p-card1{
  padding-bottom: 60px;
}
.p-card2{
  padding-bottom: 40px;
}
.p-card3{
  padding-bottom: 20px;
}
.img-card {
  border-radius: 12px;
}

